.App {
  background-color: #3d3d3d;
  width: 100vw;
  height: 100vh;
}

.bird {
  position: absolute;
  top: 50%;
  left: 50%;
  // transform: translate(-50%, -50%);
  background-image: url("./images/sprites.png");
}
