.Map {
  background-color: #7693b3;
  width: 100vw;
  height: 100vh;
  animation: backgroundAnimation 5s infinite linear;
  background-repeat: repeat-x;
  position: relative;
  background-image: url("./images/background/Layer_0005.png"),
    url("./images/background/Layer_0006.png"),
    url("./images/background/Layer_0007.png"),
    url("./images/background/Layer_0008.png"),
    url("./images/background/Layer_0009.png"),
    url("./images/background/Layer_0010.png");
}

.Map::after {
  position: absolute;
  width: 100vw;
  height: 100vh;
  bottom: 0;
  content: "";
  background-image: url("./images/background/Layer_0000.png"),
    url("./images/background/Layer_0001.png"),
    url("./images/background/Layer_0002.png"),
    url("./images/background/Layer_0003.png"),
    url("./images/background/Layer_0004.png");
  background-repeat: repeat-x;
  z-index: 50;
  animation: textureAnimation 3s infinite linear;
}

.score {
  position: absolute;
  color: white;
  z-index: 1025;
  left: 50%;
  top: 10%;
  transform: translate(-50%, -50%);
}

@keyframes textureAnimation {
  from {
    background-position: 928px 100%;
  }
  to {
    background-position: 0px 100%;
  }
}

@keyframes backgroundAnimation {
  from {
    background-position: 928px 100%;
  }
  to {
    background-position: 0px 100%;
  }
}

.bird {
  position: absolute;
  z-index: 1000;
  bottom: 25%;
  left: 20%;
  transform: translate(-50%, -50%);
  background-image: url("./images/sprites.png");
}

.fire {
  display: none;
}

.audioControls {
  display: block;
  position: relative;
  z-index: -1;
}

.audioControls::before {
  content: '';
  height: 50px;
  width: 50px;
  position: absolute; 
  background-color: orange;
  z-index: 5000;
}

@media only screen and (max-width: 1025px) {
  .fire {
    display: block;
    position: absolute;
    transform: translate(-50%, -50%);
    z-index: 1000;
    border-radius: 50%;
    height: 50px;
    width: 50px;
    border: solid 2px #333;
    background-image: url("./images/sprites.png");
    background-position: -279px -164px;
    background-color: lighten(orange, 12%);
    outline: none;
  }

  .fire:active {
    background-color: orange;
  }
}
